body{
    font-family: Verdana, sans-serif;
    background-color: #cfcf69;
    text-align: center;
    padding-top: 100px;
}

.container{
    width: 60%;
    margin: auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px gray;
}

h1{
    color: #06433c;
}

button{
    background-color: #dd1111;
    color: rgb(185, 150, 150);
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
}